
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Fast Service</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		
			<script type="text/javascript">
				window.onload = function(){
					mostrarBotao(1);
				}
				</script>
		
		</head>
	 <body style="background-color: #e9e9e9;background-position:center;  background-image: url(images/servicosFundoc.png);
	background-repeat: no-repeat;" >

		<nav  class="navbar navbar-expand-lg navbar-dark bg-dark " >
				
			<form class="navbar navbar-expand-lg navbar-dark bg-dark nav-item nav-link active " id="formDeSubmit" name="formDeSubmit" accept-charset="UTF-8" role="form"   method="post">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<img src="images/logo.png"  height="11%"/>
			<input class="navbar navbar-expand-lg navbar-dark bg-dark nav-item nav-link active "  type="text" readonly="readonly" id="emailInput" name="emailInput" value="<%= email %>" style="background-color: transparent; border: 0; color: white;"  >
			<div class="nav nav-pills nav-fill" id="navbarNavAltMarkup" >
				
			  <div class="navbar-nav">
				<a class="navbar navbar-expand-lg navbar-dark bg-dark nav-item nav-link active " id="BotaoHome" href="#"><i class="fas fa-home"> Home</i>  <span class="glyphicon glyphicon-plus"></span></a>
				<a  class="navbar navbar-expand-lg navbar-dark bg-dark nav-item nav-link active " id="BotaoServicos" href="#"><i class="fas fa-clipboard-list"> Serviços</i>  <span class="glyphicon glyphicon-plus"></span></a>
				<a  class="navbar navbar-expand-lg navbar-dark bg-dark nav-item nav-link active " id="BotaoMeusServicos" href="#"><i class="fab fa-black-tie"> Meus Serviços</i> <span class="sr-only">(current)</span></a>
				<a class="navbar navbar-expand-lg navbar-dark bg-dark nav-item nav-link active " id="BotaoAdmin" href="#"><i class="far fa-plus-square"> Novo Serviço</i>  <span class="sr-only">(current)</span></a>
				<a class="navbar navbar-expand-lg navbar-dark bg-dark nav-item nav-link active " style="position: absolute; left: 130%;"  id="logOutButton" href="#"><i class="fas fa-door-open"> Sair</i></a>

			</div>
			</div>
			
		</form>

		
				
		

		<script>

 function mostrarBotao() {
                         escolha = document.getElementById("emailInput").value;
                         if (escolha == "") {
							document.getElementById("BotaoHome").style.display = "block";
							document.getElementById("BotaoServicos").style.display = "block";
                            document.getElementById("BotaoMeusServicos").style.display = "none";
                            document.getElementById("BotaoAdmin").style.display = "none";
                            document.getElementById("logOutButton").style.display = "block";
                            

                         } else if(escolha !='') {
							document.getElementById("BotaoHome").style.display = "block";
							document.getElementById("BotaoServicos").style.display = "block";
                            document.getElementById("BotaoMeusServicos").style.display = "block";
                            document.getElementById("BotaoAdmin").style.display = "block";
                            document.getElementById("logOutButton").style.display = "block";
                            
                        }
                    }




			
			logOutButton.addEventListener('click', function(){   
					document.formDeSubmit.action = "/";
					 document.formDeSubmit.submit();  
				   //document.getElementById("formDeSubmit").submit();
		
		});

		BotaoHome.addEventListener('click', function(){   
					document.formDeSubmit.action = "/home";
					 document.formDeSubmit.submit();  
				   //document.getElementById("formDeSubmit").submit();
		
		});
		BotaoServicos.addEventListener('click', function(){   
					document.formDeSubmit.action = "/servicos";
					 document.formDeSubmit.submit();  
				   //document.getElementById("formDeSubmit").submit();
		
		});
		BotaoMeusServicos.addEventListener('click', function(){   
					document.formDeSubmit.action = "/meusservicos";
					 document.formDeSubmit.submit();  
				   //document.getElementById("formDeSubmit").submit();
		
		});
		BotaoAdmin.addEventListener('click', function(){   
					document.formDeSubmit.action = "/formulario_inclusao_servico";
					 document.formDeSubmit.submit();  
				   //document.getElementById("formDeSubmit").submit();
		
		});


		</script>
		  </nav>



		
		<h1> Bem vindo <%= email %> </h1>
		<br><br>

		<center><h4>A Fast Service é uma aplicação de cadastros de serviços.<br>
		Onde o usuário  pode estar encontrando serviços que lhe interessa.<br><br>

		Ao fazer login como empresa terá acesso a outras funcionalidades.
	</h4>
</center>
	
	


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	</body>

</html>